body {
  margin: 0;
  background: #222;
  font-family: Times New Roman, Times, serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  width: 120px;
  float: left;
  padding: 25px 0;
  margin-left: 30px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 55px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: rgb(1, 17, 1);
}

.selected {
  font-weight: bold;
  color: black;
}

.descr {
  color: #55d6aa;
  padding-top: 100px;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

.feature h1 {
  color: #55d6aa;
  padding-top: 100px;
}

.feature h2 {
  color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: center;
}

p {
  font-size: 24px;
  color: white;
  text-align: center;
}

#footer {
  background-color: gray;
  height: 120px;
  position: relative;
  font-size: 12px;
  padding: 20px;
  clear: both;
  margin-top: auto;
}

#Converter {
  position: relative;
  left: 800px;
  color: #55d6aa;
  padding-top: 100px;
}

#Language {
  position: relative;
  width: 400px;
  left: 600px;
  text-align: right;
}

.feature p {
  color: rgb(119, 115, 115);
  text-align: left;
  position: relative;
  left: 50px;
}

#Timer {
  position: relative;
  padding-top: 300px;
  text-align: center;
  left: 250px;
  color: #55d6aa;
}
#Admin {
  position: relative;
  left: 300px;
  padding-top: 300px;
  color: #55d6aa;
}

#IDcard {
  position: relative;
  width: 400px;
  padding-top: 300px;
  left: 800px;
  color: #55d6aa;
}

#id {
  position: relative;
  left: -80px;
  text-align: right;
}

#Team {
  position: relative;
  width: 400px;
  padding-top: 300px;
  left: 800px;
  color: #55d6aa;
}

#team {
  position: relative;
  left: -80px;
  text-align: right;
  padding-bottom: 300px;
}

#icon1 {
  width: 200px;
  text-align: center;
  padding: 35px;
  margin-left: 35px;
}

#icon4 {
  width: 200px;
  text-align: center;
  padding: 35px;
}
#icon2,
#icon3,
#icon5 {
  text-align: center;
  padding: 35px;
  width: 150px;
}
.p1 {
  width: 500px;
  padding: 80px;
  text-align: center;
}

#p1name {
  position: relative;
  text-align: center;
}

footer li {
  display: inline-block;
  padding-top: 20px;
  font-size: 30px;
  margin-left: 40px;
  text-align: center;
}
footer a:hover {
  color: black;
}
footer a {
  color: #55d6aa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
#Inter {
  text-align: right;
}
