body {
  margin: 0;
  background: #222;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  width: 120px;
  float: left;
  padding: 25px 0;
  margin-left: 30px;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 55px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: rgb(1, 17, 1);
}

.selected {
  font-weight: bold;
  color: black;
}

.descr {
  color: #55d6aa;
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

.feature h1 {
  color: #55d6aa;
  padding-top: 100px;
  text-align: center;
  font-size: 48px;
  padding-bottom: 30px;
}

.feature h2 {
  color: black;
  max-width: 300px;
  max-height: 500px;
  text-align: center;
}

p {
  font-size: 24px;
  color: white;
  text-align: center;
}

#footer {
  background-color: gray;
  height: 120px;
  position: relative;
  font-size: 12px;
  padding: 20px;
  clear: both;
  margin-top: auto;
}

.feature p {
  color: rgb(119, 115, 115);
  text-align: left;
  position: relative;
  left: 50px;
}

#Timer,
#time {
  position: relative;
  text-align: center;
  left: 200px;
  color: #55d6aa;
  bottom: 300px;
}

#timeconverter {
  position: relative;
  text-align: center;
  left: 200px;
  color: #55d6aa;
  bottom: 400px;
}

#tc {
  left: 50px;
  bottom: 400px;
}

#Admin,
#adm {
  position: relative;
  text-align: center;
  color: #55d6aa;
}

#IDcard {
  position: relative;
  width: 400px;
  left: 850px;
  bottom: 400px;
  color: #55d6aa;
}

#Converter {
  position: relative;
  width: 400px;
  left: 900px;
  color: #55d6aa;
  bottom: 500px;
}

#id {
  position: relative;
  left: -80px;
  text-align: right;
  bottom: 400px;
}

#idimageleft {
  width: 450px;
  margin-left: 120px;
  display: inline-block;
  bottom: 400px;
}

#idimageleft1 {
  width: 450px;
  margin-left: 50px;
  bottom: 400px;
}

#idimageright {
  width: 500px;
  margin-left: 700px;
  display: inline-block;
  margin-top: 200px;
}

#icon1 {
  width: 155px;
  margin-left: 75px;
  position: relative;
  text-align: center;
}

#icon5 {
  width: 200px;
  margin-left: 60px;
  position: relative;
  text-align: center;
}

#icon2 {
  width: 200px;
  margin-left: 40px;
  position: relative;
  text-align: center;
}

#icon3,
#icon4 {
  width: 150px;
  margin-left: 80px;
  position: relative;
  text-align: center;
}

footer li {
  display: inline-block;
  padding-top: 20px;
  font-size: 30px;
  margin-left: 40px;
  text-align: center;
}
footer a:hover {
  color: black;
}
footer a {
  color: #55d6aa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}
#Inter {
  text-align: right;
}

#fform,
#sform,
#tform,
#last {
  margin-bottom: 20px;
}

#tform {
  width: 300px;
  height: 150px;
}

#s1 {
  color: white;
  text-align: center;
  margin-top: 80px;
}

#s2 {
  color: white;
  text-align: center;
}

#allform {
  color: white;
  text-align: center;
}

#teamfirst {
  padding: 150px;
}

.p1 {
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: bold;
}

#com {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: bold;
  margin-bottom: 100px;
}

#lastimg {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-bottom: 300px;
}

#p1name,
#p2name,
#p3name,
#p4name {
  position: relative;
  text-align: center;
  color: #55d6aa;
}

#fir,
#sec,
#thi {
  padding-left: 100px;
  padding-right: 100px;
  margin: 50px;
  border-style: solid;
  float: left;
  background-color: #55d6aa;
}

#fir h2,
#sec h2,
#thi h2 {
  text-align: center;
}
